<%- include("partials/header"); -%>
<form action="/details" method="post">
    <label for="firstName">First Name</label>
    <br>
    <input  name="firstName" id="firstName" size="25" >
<br>
  <label for="lastName">Last Name</label>
  <br>
  <input  name="lastName" size="25">
  <br>
<button type="submit" name="button">Submit</button>
</form>



<%- include("partials/footer"); -%>
