<%- include("partials/header"); -%>
<a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
<a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
<%- include("partials/footer"); -%>
