<%- include("partials/header"); -%>
<h1>Welcome</h1>
<h1><%=user.displayName%></h1>
<h1><%=user.department%></h1>









<br><br>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<%- include("partials/footer"); -%>
